body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif,sans-serif!important;
    font-size: 12px;
    color: #666;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: unset;
}
a:hover {
    text-decoration: none;
    color: unset;
}
p {
    margin: 5px 0;
}
ul {
  text-decoration: none;
}
ul li {
    margin: 5px 0;
}

/* Navigation Bar */
.img-fluid {
  max-width: 150px;
  height: auto;
}
nav.navbar.transparent-white {
    background-color: #abf3ff73;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(255, 255, 255, 0.3) !important;
            box-shadow: 0px 0px 1px 0px rgba(255, 255, 255, 0.3) !important;
    padding: 5px 10px;
    text-transform: uppercase;
}
.navbar-brand {
    font-size: 28px;
    font-weight: 700;
    color: #fdad03;
}
  
.main-navigation {
    padding: 40px 0px 15px 0px;
    border-bottom: 1px solid #889caa;
    -webkit-transition: all .7s linear;
    transition: all .7s linear;
}
  
.main-navigation .nav-link {
    font-size: 16px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: .5px;
}
  
.main-navigation .btn {
    background: transparent;
    color: #333333;
    border-color: #ae5da4;
}
  
.btn-sm {
    padding: 5px 18px;
    border-radius: 50px;
}
.whitecolor {
    color: #ffffff !important;
}
  
  /*---------- Transparent Navigation With Black Text Color ----------*/
.main-nav2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
  
.main-nav2 .navbar-nav .nav-link {
    padding-right: 1.4rem;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: .5px;
}
  
.main-nav {
    padding: 20px 0px;
}
  
.main-nav ul {
    margin-left: 50px;
}
  
.main-nav ul li a {
    font-size: 16px;
}
  
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.4rem;
    color: #333333;
    font-weight: 500;
    letter-spacing: .5px;
    text-transform: uppercase;
}
  
.navbar-expand-lg.onepage-nav .navbar-nav .nav-link {
    padding-right: 1.4rem;
    color: #333333;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: capitalize;
}
  
.dropdown {
    position: relative;
}
  
.dropdown .dropdown-menu {
    background: #ffffff;
    width: 220px;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    border: 0px;
    display: block;
}
  
.dropdown .dropdown-menu .dropdown-item {
    color: #333333 !important;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
    font-size: 13px;
}
  
.dropdown .dropdown-menu .dropdown-item:hover {
    color: #ae5da4 !important;
}
  
.dropdown .dropdown-menu .dropdown-item:last-child {
    border-bottom: 0px;
}
  
.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}
  
.dropdown-toggle::after {
    display: none;
}
  
nav.navbar.transparent-white.top-nav-collapse {
    background-color: #FFF;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.08) !important;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.08) !important;
}
  
.ind-btn {
    background-color: #03B6E3;
    border-radius: 0px;
    color: #fff;
    padding: 7px 15px;
    border: none;
    margin: 0 5px;
}
  
.buz-btn {
    background-color: #85c808;
    border-radius: 0px;
    color: #fff;
    padding: 7px 15px;
    border: 1px solid #85c808;
}


/** css for footer **/
footer {
    background: url(../img/footer-bg2.png) no-repeat 50% 100% #125464;
  }
  
footer p {
    font-size: 14px;
    color: #fff;
    line-height: 1.4;
    padding-right: 25px;
}
  
footer ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
  
footer ul li {
    padding: 5px 0px;
    line-height: 1.4;
}
  
footer ul li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
  
.ftr-information {
    position: relative;
}
  
.ftr-information ul li {
    padding-left: 20px;
}
  
.ftr-information ul li::before {
    color: #5fcbec;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 600;
    left: 0px;
    position: absolute;
}
  
.ftr-information ul li:first-child::before {
    content: "\f05a";
}
  
.ftr-information ul li:nth-child(2)::before {
    content: "\f2a0";
}
  
.ftr-information ul li:nth-child(3)::before {
    content: "\f022";
}
  
.ftr-information ul li:nth-child(4)::before {
    content: "\f21b";
}
  
.ftr-information ul li:nth-child(5)::before {
    content: "\f03e";
}
  
.ftr-individual {
    position: relative;
}
  
.ftr-individual ul li {
    padding-left: 20px;
}
  
.ftr-individual ul li::before {
    color: #5fcbec;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 600;
    left: 0px;
    position: absolute;
}
  
.ftr-individual ul li:first-child::before {
    content: "\f25d";
}
  
.ftr-individual ul li:nth-child(2)::before {
    content: "\f689";
}
  
.ftr-individual ul li:nth-child(3)::before {
    content: "\f09c";
}
  
.ftr-individual ul li:nth-child(4)::before {
    content: "\f059";
}
  
.ftr-business {
    position: relative;
}
  
.ftr-business ul li {
    padding-left: 20px;
}
  
.ftr-business ul li::before {
    color: #5fcbec;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 600;
    left: 0px;
    position: absolute;
}
  
.ftr-business ul li:first-child::before {
    content: "\f469";
}
  
.ftr-business ul li:nth-child(2)::before {
    content: "\f25d";
}
  
.ftr-business ul li:nth-child(3)::before {
    content: "\f09c";
}
  
.ftr-business ul li:nth-child(4)::before {
    content: "\f059";
}
  
.ftr-contact {
    position: relative;
}
  
.ftr-contact ul li {
    padding-left: 20px;
}
  
.ftr-contact ul li::before {
    color: #5fcbec;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 600;
    left: 0px;
    position: absolute;
}
  
.ftr-contact ul li:first-child::before {
    content: "\f276";
}
  
.ftr-contact ul li:nth-child(2)::before {
    content: "\f25d";
}
  
.ftr-contact ul li:nth-child(4)::before {
    content: "\f0e0";
}
  
.social-media a {
    display: inline-block;
    margin: 0px 5px;
    border-radius: 5px;
    font-size: 36px;
    color: #fff;
}
.social-icon a {
    font-size: 20px;
    margin-right: 3px;
    color: white;
    border: 1px solid;
    padding: 2px;
}
.fbuttons a {
    margin: 2%;
    width: 29%;
    float: left;
}
.fbuttons img {
    width: 100%;
}
.fbuttons-payments img {
    width: 100%;
}
.mobile-app-wrap {
    margin-top: 25px;
    border: 2px solid #FFF;
    border-radius: 10px;
    position: relative;
}
.payment-wrap {
    border: 2px solid #FFF;
    position: relative;
    margin-top: 25px;
    border-radius: 10px;
}
h3.mobile-app {
    position: absolute;
    color: #FFF;
    top: -15px;
    left: 15px;
    background: #125464;
    font-size: 20px;
    padding: 0 5px;
}
  
.fbuttons {
    display: inline-block;
    margin: 20px 0 10px;
  }
.fbuttons-payments {
    display: inline-block;
    margin: 20px 20px 10px;
}
  
.fbuttons a {
    margin-right: 6px;
  }
.fbuttons-payments a {
    width: 36%;
    float: left;
    margin: 2%;
}
h3.payment-title {
    position: absolute;
    top: -15px;
    left: 15px;
    background: #125464;
    color: #FFF;
    font-size: 20px;
    padding: 0 5px;
}
/* Rolling Able Banner */
section.able-banner {
    box-shadow: 1px 1px 1px 1px #e2f1ea;
    /* padding-bottom: 30px; */
} 

/* Rolling Chhalfal */
.rolling-chhalfal-wrap {
    padding: 20px 0;
}


/* Rolling ChhalFal -> Middle Section */
.cm-post {
    padding: 10px 10px 10px 15px;
    box-shadow: 1px 2px 10px 1px #DDD;
    display: flex;
justify-content: space-between;
}
.cm-post-frofile {
    display: flex;
    flex-direction: row;
}
.cm-post-img {
    width: 35px;
    border-radius: 50%;
}
.cm-post-prfl-name {
    font-size: 14px;
    margin-left: 10px;
}
.cm-post-link {
    font-size: 18px;
    font-weight: 600;
}
.btn-cm-post-wrap {
    margin: auto 20px;
}
.btn-cm-post {
    border: none;
    font-size: 15px;
    padding: 5px 25px;
    border-radius: 25px;
    outline: none;
    background: #03b6e3;
    color: #FFF;
}
.btn-cm-post:hover {
    background: #125464;
}
.category-sub-wrap {
    padding: 10px;
    box-shadow: 1px 2px 10px 1px #DDD;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}
.category-sub {
    display: flex;
    flex-direction: row;
}
.img-category-sub {
    width: 100px;
}
.category-sub-content {
    padding: 0 10px;
}
.category-sub-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 5px;
}
.category-follow {
    background: #9999;
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 15px;
}
.sub-option .btn-secondary {
    color: #000;
    background: transparent;
    border: none;
}
.sub-option .btn-secondary:focus {
    
}